# Scripts para manipulação de dataframe


## 1. Script para obter a média das 12 poses e refazer a clusterização

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('oleos.csv')
df

          Ligand  oleosAd4  oleosConvex  oleosDkoes  oleosVina  oleosVinardo
0        Ligand1 -21.60983    29.382404    -5.02562       -4.6      -5.00336
1        Ligand1 -21.25053    27.385033    -5.01226       -4.5      -4.59709
2        Ligand1 -20.09056    25.911132    -4.71690       -4.3      -4.36270
3        Ligand1 -21.17915    31.233518    -5.22935       -5.2      -4.99271
4        Ligand1 -20.88015    30.620385    -5.20769       -5.0      -4.74884
...          ...       ...          ...         ...        ...           ...
2059  ZINC968471 -34.18277    50.436619    -7.22569       -7.2      -7.83893
2060  ZINC968471 -33.54834    46.902829    -7.21845       -7.0      -7.19814
2061  ZINC968471 -30.24251    46.517971    -6.44612       -6.2      -5.81353
2062  ZINC968471 -28.49072    46.444603    -6.39609       -6.1      -5.80515
2063  ZINC968471 -28.46053    45.410127    -6.39591       -6.1      -5.76520

[2064 rows x 6 columns]

In [4]:
#df = pd.read_csv('oleosAche.csv') ##Arquivo com clusterização já feita
reduced_df = df.groupby('Ligand').mean()
#reduced_df = reduced_df.drop('Cluster', axis =1)
reduced_df.to_csv('EcRAGO_oleos_media4.csv') ##Nome do arquivo de saída
reduced_df.head(20)

            oleosAd4  oleosConvex  oleosDkoes  oleosVina  oleosVinardo
Ligand
Ligand1   -21.787322    31.122112   -5.111928  -4.758333     -5.340728
Ligand10  -25.039599    32.188441   -5.776702  -5.966667     -5.431351
Ligand11  -23.260251    35.846409   -5.431807  -5.766667     -4.069020
Ligand12  -24.738802    27.740929   -5.698803  -6.016667     -5.464888
Ligand13  -15.767613    14.769541   -4.256532  -3.916667     -3.628121
Ligand14  -29.287140    36.733780   -5.615642  -5.700000     -5.691325
Ligand15  -24.566321    31.321733   -5.605111  -5.491667     -4.802903
Ligand16  -26.536537    38.170978   -6.152595  -6.541667     -4.992994
Ligand17  -25.669352    28.569857   -5.513054  -5.383333     -5.241507
Ligand18  -28.303222    46.802711   -6.326077  -6.183333     -5.066614
Ligand19a -26.778798    40.546931   -6.202716  -6.408333     -5.100727
Ligand19b -26.436636    40.472406   -6.174532  -6.491667     -5.016144
Ligand19d -28.222400    42.219054   -6.253464  -6.708333     -5.595977
Ligand19g -27.729092    39.376820   -6.316498  -6.775000     -5.033330
Ligand2   -18.287959    18.879057   -4.502640  -4.133333     -4.163054
Ligand20  -26.755471    43.990835   -6.331681  -6.441667     -4.956046
Ligand21  -27.001181    39.702826   -6.239401  -6.491667     -5.213039
Ligand22  -27.750236    37.294749   -6.292785  -6.508333     -4.935630
Ligand23a -26.507671    44.959668   -6.264990  -6.483333     -5.342202
Ligand23b -26.963284    44.438770   -6.275743  -6.516667     -5.215847

## 2. Script para obter a média das primeiras poses de cada função

In [16]:
df = pd.read_csv('oleosVinardo.csv') #Arquivo com as afinidades de UMA função só
df.head(10)

     Ligand Receptor  Affinity1  Affinity2  Affinity3
0   Ligand1   mJHBP1   -7.06977   -6.79920   -6.78735
1   Ligand1   mJHBP2   -6.38349   -6.31920   -6.28932
2   Ligand1   mJHBP3   -6.64852   -6.53530   -6.50971
3   Ligand1   mJHBP4   -6.83440   -6.62244   -6.58387
4  Ligand10   mJHBP1   -7.41925   -7.32850   -7.24065
5  Ligand10   mJHBP2   -6.80576   -6.76961   -6.67763
6  Ligand10   mJHBP3   -7.10530   -7.01983   -6.98618
7  Ligand10   mJHBP4   -7.05038   -7.00798   -6.92892
8  Ligand11   mJHBP1   -5.82459   -5.18535   -5.02793
9  Ligand11   mJHBP2   -5.94069   -5.19461   -5.17672

In [17]:
df2 = df.drop('Receptor', axis =1)
df2 = df2.drop(['Affinity2', 'Affinity3'], axis=1)
df2 = df2.groupby('Ligand').mean()
df2.to_csv('oleosVinardo_mediaAfinidade1.csv') ##Nome do arquivo de saída
#df2.head(100)

In [12]:
#pd.set_option("display.max_rows", None, "display.max_columns", None)
df4 = pd.read_csv('oleosVinaAfinidade1.csv')
df4

         Ligand  Affinity1
0       Ligand1     -5.375
1      Ligand10     -7.425
2      Ligand11     -7.325
3      Ligand12     -7.400
4      Ligand13     -4.450
..          ...        ...
166  ZINC968246     -7.425
167  ZINC968250     -8.575
168  ZINC968287     -7.225
169  ZINC968468     -8.525
170  ZINC968471     -9.075

[171 rows x 2 columns]

In [13]:
df1 = pd.read_csv('oleosAd4Afinidade1.csv')

In [14]:
df3 = pd.read_csv('oleosDkoesAfinidade1.csv')
df3

         Ligand  Affinity1
0       Ligand1  -5.127867
1      Ligand10  -6.204405
2      Ligand11  -5.965835
3      Ligand12  -6.076383
4      Ligand13  -4.353905
..          ...        ...
166  ZINC968246  -6.053470
167  ZINC968250  -6.862808
168  ZINC968287  -5.879750
169  ZINC968468  -7.803377
170  ZINC968471  -7.819733

[171 rows x 2 columns]

In [15]:
df2 = pd.read_csv('oleosConvexAfinidade1.csv')
df2

         Ligand  Affinity1
0       Ligand1  35.880913
1      Ligand10  35.418013
2      Ligand11  36.639661
3      Ligand12  30.916608
4      Ligand13  18.138974
..          ...        ...
166  ZINC968246  34.310473
167  ZINC968250  35.663498
168  ZINC968287  37.517148
169  ZINC968468  36.979728
170  ZINC968471  49.318036

[171 rows x 2 columns]

In [16]:
df5 = pd.read_csv('oleosVinardoAfinidade1.csv')
df5

         Ligand  Affinity1
0       Ligand1  -6.734045
1      Ligand10  -7.095173
2      Ligand11  -5.721175
3      Ligand12  -7.228875
4      Ligand13  -4.517315
..          ...        ...
166  ZINC968246  -7.457340
167  ZINC968250  -8.654267
168  ZINC968287  -7.019605
169  ZINC968468  -6.601793
170  ZINC968471  -9.780648

[171 rows x 2 columns]

In [18]:
#inner join in python pandas

inner_join_df= pd.merge(df1, df2, df3, df4, df5, on='Affinity1', how='inner')
inner_join_df

TypeError: merge() got multiple values for argument 'on'