# Scripts para manipulação de dataframe Proteina Ligadora ao Hormonio Juvenil
1. Script para obter a média das 1 poses e refazer a clusterização

In [1]:
import pandas as pd

In [71]:
dfconvex = pd.read_csv('oleosConvex.csv')
dfconvex

             Ligand Receptor     Convex
0              1033   mJHBP1  34.364716
1              1033   mJHBP2  31.957566
2              1033   mJHBP3  36.765342
3              1033   mJHBP4  36.361414
4            1033-1   mJHBP1  32.059510
...             ...      ...        ...
28882    ZINC968471   mJHBP4  47.774781
28883  ZINC968471-1   mJHBP1  53.165564
28884  ZINC968471-1   mJHBP2  49.903358
28885  ZINC968471-1   mJHBP3  49.131729
28886  ZINC968471-1   mJHBP4  50.096656

[28887 rows x 3 columns]

In [72]:
dfvinardo = pd.read_csv('oleosVinardo.csv')
dfvinardo

             Ligand Receptor   Vinardo
0              1033   mJHBP1  -6.00615
1              1033   mJHBP2  -6.38101
2              1033   mJHBP3  -6.75703
3              1033   mJHBP4  -6.56137
4            1033-1   mJHBP1  -4.91984
...             ...      ...       ...
28882    ZINC968471   mJHBP4  -9.69666
28883  ZINC968471-1   mJHBP1 -11.05134
28884  ZINC968471-1   mJHBP2  -9.61042
28885  ZINC968471-1   mJHBP3 -10.01463
28886  ZINC968471-1   mJHBP4 -10.08488

[28887 rows x 3 columns]

In [76]:
df = pd.concat([dfconvex.set_index('Ligand'),dfvinardo.set_index('Ligand')], axis=1)
df

             Receptor     Convex Receptor   Vinardo
Ligand
1033           mJHBP1  34.364716   mJHBP1  -6.00615
1033           mJHBP2  31.957566   mJHBP2  -6.38101
1033           mJHBP3  36.765342   mJHBP3  -6.75703
1033           mJHBP4  36.361414   mJHBP4  -6.56137
1033-1         mJHBP1  32.059510   mJHBP1  -4.91984
...               ...        ...      ...       ...
ZINC968471     mJHBP4  47.774781   mJHBP4  -9.69666
ZINC968471-1   mJHBP1  53.165564   mJHBP1 -11.05134
ZINC968471-1   mJHBP2  49.903358   mJHBP2  -9.61042
ZINC968471-1   mJHBP3  49.131729   mJHBP3 -10.01463
ZINC968471-1   mJHBP4  50.096656   mJHBP4 -10.08488

[28887 rows x 4 columns]

In [78]:
df.to_csv('JHBP.csv')

In [79]:
df = pd.read_csv('JHBPdata.csv')

In [80]:
df2 = df.Ligand.str.replace("(-).*","")

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [81]:
df2

0              1033
1              1033
2              1033
3              1033
4              1033
            ...
28882    ZINC968471
28883    ZINC968471
28884    ZINC968471
28885    ZINC968471
28886    ZINC968471
Name: Ligand, Length: 28887, dtype: object

In [82]:
df.insert(loc=1,column='Ligand-ID',value=df2)

In [83]:
df

             Ligand   Ligand-ID     Convex   Vinardo
0              1033        1033  34.364716  -6.00615
1              1033        1033  31.957566  -6.38101
2              1033        1033  36.765342  -6.75703
3              1033        1033  36.361414  -6.56137
4            1033-1        1033  32.059510  -4.91984
...             ...         ...        ...       ...
28882    ZINC968471  ZINC968471  47.774781  -9.69666
28883  ZINC968471-1  ZINC968471  53.165564 -11.05134
28884  ZINC968471-1  ZINC968471  49.903358  -9.61042
28885  ZINC968471-1  ZINC968471  49.131729 -10.01463
28886  ZINC968471-1  ZINC968471  50.096656 -10.08488

[28887 rows x 4 columns]

In [84]:
df.to_csv('JHBPSumario.csv',index=False)

## Calculando as Médias

In [85]:
df = pd.read_csv('JHBPSumario.csv')
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df

             Ligand   Ligand-ID     Convex   Vinardo
0              1033        1033  34.364716  -6.00615
1              1033        1033  31.957566  -6.38101
2              1033        1033  36.765342  -6.75703
3              1033        1033  36.361414  -6.56137
4            1033-1        1033  32.059510  -4.91984
...             ...         ...        ...       ...
28882    ZINC968471  ZINC968471  47.774781  -9.69666
28883  ZINC968471-1  ZINC968471  53.165564 -11.05134
28884  ZINC968471-1  ZINC968471  49.903358  -9.61042
28885  ZINC968471-1  ZINC968471  49.131729 -10.01463
28886  ZINC968471-1  ZINC968471  50.096656 -10.08488

[28887 rows x 4 columns]

In [86]:
rdf = df.groupby('Ligand').mean()
rdf

                 Convex    Vinardo
Ligand
1033          34.862260  -6.426390
1033-1        30.499961  -5.090780
1033-10       33.334304  -6.175510
1033-11       33.153876  -5.741825
1033-12       33.244889  -6.140105
...                 ...        ...
ZINC968287-3  38.527296  -6.705737
ZINC968468    32.477202  -5.424267
ZINC968468-1  33.804645  -5.889207
ZINC968471    49.821998  -9.943428
ZINC968471-1  50.574327 -10.190318

[7222 rows x 2 columns]

In [87]:
rdf.to_csv('JHBPR.csv')

# #Verificando a maior afinidade de cada função

In [88]:
adf = pd.read_csv('JHBPR.csv')
adf

            Ligand     Convex    Vinardo
0             1033  34.862260  -6.426390
1           1033-1  30.499961  -5.090780
2          1033-10  33.334304  -6.175510
3          1033-11  33.153876  -5.741825
4          1033-12  33.244889  -6.140105
...            ...        ...        ...
7217  ZINC968287-3  38.527296  -6.705737
7218    ZINC968468  32.477202  -5.424267
7219  ZINC968468-1  33.804645  -5.889208
7220    ZINC968471  49.821998  -9.943428
7221  ZINC968471-1  50.574327 -10.190318

[7222 rows x 3 columns]

In [89]:
df2 = adf.Ligand.str.replace("(-).*","")

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [90]:
df2

0             1033
1             1033
2             1033
3             1033
4             1033
           ...
7217    ZINC968287
7218    ZINC968468
7219    ZINC968468
7220    ZINC968471
7221    ZINC968471
Name: Ligand, Length: 7222, dtype: object

In [91]:
adf.insert(loc=1,column='Ligand-ID',value=df2)

In [92]:
adf

            Ligand   Ligand-ID     Convex    Vinardo
0             1033        1033  34.862260  -6.426390
1           1033-1        1033  30.499961  -5.090780
2          1033-10        1033  33.334304  -6.175510
3          1033-11        1033  33.153876  -5.741825
4          1033-12        1033  33.244889  -6.140105
...            ...         ...        ...        ...
7217  ZINC968287-3  ZINC968287  38.527296  -6.705737
7218    ZINC968468  ZINC968468  32.477202  -5.424267
7219  ZINC968468-1  ZINC968468  33.804645  -5.889208
7220    ZINC968471  ZINC968471  49.821998  -9.943428
7221  ZINC968471-1  ZINC968471  50.574327 -10.190318

[7222 rows x 4 columns]

In [95]:
Convex = adf.groupby(['Ligand-ID'], sort=False)['Convex'].max()
idx1 = adf.groupby(['Ligand-ID'])['Convex'].transform(min) == adf['Convex']
Convex = adf[idx1]
Convex.head(50)

       Ligand Ligand-ID     Convex   Vinardo
15     1033-9      1033  25.739446 -3.545765
21    12003-5     12003  23.894467 -6.044928
27    12007-3     12007  15.935338 -1.201493
35    12022-3     12022  22.821910 -5.020610
43    12024-3     12024  25.564571 -4.852723
53    12032-5     12032  23.453370 -4.031397
59    12055-3     12055  22.127620 -5.252460
69    12104-3     12104  26.347256 -4.945610
81   12130-13     12130  24.180920 -4.043860
106   12133-8     12133  21.816121 -3.437108
116   12134-2     12134  18.777822 -0.834823
136   12137-6     12137  17.897188 -1.105207
141   12138-1     12138  23.900838 -3.786093
169  12141-28     12141  24.942545 -2.784955
184   12157-4     12157  17.171674 -3.792523
193   12170-5     12170  22.282419 -3.847805
206   12182-4     12182  19.444155 -2.245928
219  12189-15     12189  25.028063 -3.563973
236   12190-2     12190  26.477637 -4.210610
258   12213-8     12213  29.022311 -5.295937
277  12214-24     12214  25.984052 -4.457370
298   12230-6     12230  30.594460 -5.547250
306  12232-14     12232  25.418172 -3.941515
331   12238-9     12238  28.100895 -5.052735
340  12241-16     12241  27.051568 -4.425975
377   12253-7     12253  28.718159 -5.803638
395  12255-22     12255  25.728532 -4.458100
427  12260-22     12260  29.840953 -4.417573
460  12265-23     12265  29.816258 -4.120125
490  12268-21     12268  24.580490 -4.044710
518   12270-4     12270  31.987377 -5.294560
535   12272-5     12272  31.923158 -5.328135
549   12273-3     12273  26.566598 -4.894757
564  12280-16     12280  34.270501 -4.656450
611   12281-3     12281  30.285726 -4.594392
630  12288-18     12288  34.410291 -4.616208
670  12300-25     12300  28.697146 -3.370770
684     12320     12320  29.152060 -4.965903
719  12322-11     12322  25.874623 -4.446605
752  12325-12     12325  27.925674 -4.412880
779   12330-9     12330  28.632962 -5.289875
802  12334-29     12334  27.367378 -4.505185
812     12338     12338  28.708537 -7.267817
826  12339-14     12339  26.271114 -3.647687
867   12340-9     12340  25.566360 -4.745813
870  12343-10     12343  28.435708 -5.210190
926   12344-4     12344  29.834307 -3.519963
938  12350-14     12350  27.558674 -3.938845
969  12352-13     12352  24.382767 -5.061110
992   12353-6     12353  29.356914 -4.492915

In [96]:
Convex.to_csv('Convex.csv')

In [217]:
Vina = pd.read_csv('OambAntVinaF.csv')

In [97]:
Convex = pd.read_csv('Convex.csv')

In [98]:
Vinardo = pd.read_csv('Vinardo.csv')

In [99]:
new_dataframe = pd.merge(Convex, Vinardo, how="outer", on=["Ligand"]).drop_duplicates(subset=['Ligand'])
new_dataframe

,Unnamed: 0_x,Ligand,Ligand-ID_x,Convex_x,Vinardo_x,Unnamed: 0_y,Ligand-ID_y,Convex_y,Vinardo_y
0,15.0,1033-9,1033,25.739446,-3.545765,NaN,NaN,NaN,NaN
1,21.0,12003-5,12003,23.894467,-6.044928,NaN,NaN,NaN,NaN
2,27.0,12007-3,12007,15.935338,-1.201493,NaN,NaN,NaN,NaN
3,35.0,12022-3,12022,22.821910,-5.020610,NaN,NaN,NaN,NaN
4,43.0,12024-3,12024,25.564571,-4.852723,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1101,NaN,ZINC968030-1,NaN,NaN,NaN,7204.0,ZINC968030,34.735659,-6.524955
1102,NaN,ZINC968099-2,NaN,NaN,NaN,7207.0,ZINC968099,34.993403,-5.559832
1103,NaN,ZINC968230-1,NaN,NaN,NaN,7211.0,ZINC968230,32.542848,-6.351130
1104,NaN,ZINC968468-1,NaN,NaN,NaN,7219.0,ZINC968468,33.804645,-5.889208
1105,NaN,ZINC968471-1,NaN,NaN,NaN,7221.0,ZINC968471,50.574327,-10.190318